<div class="row about-row">
  <div class="col-md-12">
    <div class="user-details">
      <h2> Meet the Team </h2>
      <div class="col-md-8 col-md-offset-2"> 
        <p> {{site.about_us_text}} </p>
        <p> {{site.about_us_text_b}} </p>
      </div>
    </div>
  </div>

  <div class="col-md-8 col-md-offset-2">
    <div class="col-md-3 founder-image-wrapper">
      <img src="http://media.voog.com/0000/0041/9525/photos/DSC_0040_round_300.png" alt="Toñis Hinnosaar" class="founder-image">
    </div>
    <div class="col-md-9 founder-note">
      <p>
        <span class="big-text">Founders note: </span><em>“In early 2016 I spent an amazing 1.5 months in Philippines with my wife and kids. What stood out the most during our stay was the kindness of people and I made a promise to myself to keep this place and people close to my heart. During my stay I met Jay and I started using Filipino programmers for my own IT projects. I was so impressed with the consistent quality and value for money that I proposed to Jay to launch a joint venture Blend IT to bring the same high quality services to other European companies.”</em><br/><span class="italic-text">Tõnis Hinnosaar, Co-Founder</span><a aria-label="My Github" target="_blank" href="https://www.linkedin.com/in/tonishinnosaar"><i class="icon fa fa-linkedin" aria-hidden="true"></i></a>
      </p>
    </div>
  </div>

  <div class="col-md-10 col-md-offset-1">
    {% for member in site.team %}
      <div class="col-md-4">
        <div class="panel panel-default ">
          <div class="panel-heading member-name-bg">
            <h3 class="panel-title member-name">{{ member.name }}</h3>
          </div>
          <div class="panel-body member-details">
            <div class="row">
              <div class="col-md-12">
                <img src="{{ '/assets/img/' | prepend: site.baseurl | append: member.image }}" class="member-image" alt="{{ member.name }}" />
              </div>
            </div>
            <div class="row">
              <div class="col-md-12">
                <br/>
                {{member.description}}
              </div>
            </div>
            <div class="row">
              <div class="col-md-12">
                <h4>PORTFOLIO</h4>
                {% for portfolio in member.portfolios %}
                  <div class="col-md-3">
                    <a href="{{portfolio.link}}"><img src="{{ '/assets/img/' | prepend: site.baseurl | append: portfolio.icon }}" title="{{portfolio.title}}" class="portfolio-image" alt="{{portfolio.panel-title}}"></a>
                  </div>
                {% endfor %}
              </div>
            </div>
          </div>
        </div>
      </div>
    {% endfor %}
  </div>
</div>