<div class="row" id="contact">
  <h1> contact us </h1>
  <div class="col-md-6 col-md-offset-1 contact-form">
   <div class="pipedriveWebForms" data-pd-webforms="https://pipedrivewebforms.com/form/0af822913bc4dcb1aaf6b7c3939c26872590103"><script src="https://webforms.pipedriveassets.com/webforms.min.js"></script></div>
  </div>
  <div class="col-md-3 col-md-offset-1 contact-text">
      <div class="contact-details">
        Call us <span class="contact-item">+372 512 3086</span> or e-mail <span class="contact-item">team@blendit.eu</span><br/>
          <b>Estonian Office:</b> Posti, Kuivastu, Muhu Island<br/>
          <b>Philippines Office:</b> Tagbilaran City, Bohol, Philippines
      </div>
  </div>
</div>


