<div class="row founder-row">
  <div class="col-md-8 col-md-offset-2">
    <div class="col-md-3 founder-image-wrapper">
      <img src="http://media.voog.com/0000/0041/9525/photos/DSC_0040_round_300.png" class="founder-image">
    </div>
    <div class="col-md-9 founder-note">
      <p>
        <span class="big-text">Founders note: </span><em>“Few years ago I spent an amazing 1.5 months in Philippines with my wife and kids. What stood out the most during our stay was the kindness of people and I made a promise to myself to keep this place and people close to my heart. During my stay I met Jay and we have kept contact ever since related to different projects. Every time I am amazed with the speed and quality of the work he brings which is why I proposed to Jay to join forces and launch joint venture. I am really excited to be able to make his team available for more entrepreneurs who could benefit from the software development and web design services that Blend IT brings.”</em><br/><span class="italic-text">Tõnis Hinnosaar, Co-Founder</span><a aria-label="My Github" target="_blank" href="https://www.linkedin.com/in/tonishinnosaar"><i class="icon fa fa-linkedin" aria-hidden="true"></i></a>
      </p>
    </div>
  </div>
</div>