<div class="row founder-row">
  <div class="col-md-8 col-md-offset-2">
    <div class="col-md-3 founder-image-wrapper">
      <img src="http://media.voog.com/0000/0041/9525/photos/DSC_0040_round_300.png" alt="Toñis Hinnosaar" class="founder-image">
    </div>
    <div class="col-md-9 founder-note">
      <p>
        <span class="big-text">Founders note: </span><em>“In early 2016 I spent an amazing 1.5 months in Philippines with my wife and kids. What stood out the most during our stay was the kindness of people and I made a promise to myself to keep this place and people close to my heart. During my stay I met Jay and I started using Filipino programmers for my own IT projects. I was so impressed with the consistent quality and value for money that I proposed to Jay to launch a joint venture Blend IT to bring the same high quality services to other European companies.”</em><br/><span class="italic-text">Tõnis Hinnosaar, Co-Founder</span><a aria-label="My Github" target="_blank" href="https://www.linkedin.com/in/tonishinnosaar"><i class="icon fa fa-linkedin" aria-hidden="true"></i></a>
      </p>
    </div>
  </div>
</div>