<div class="row">
  <div id="particles-js">
    <div class="header">
        <h1>
          <span class="site-title">{{site.username}}</span>
          <span class="site-short-desc">{{site.user_title}}</span>
          <span class="site-long-desc">{{site.user_description}}</span>
        </h1>
        <div class="clear"></div>
        <div class="header-links">
          <a class="link" href="#services" data-scroll>Services</a>
          <a class="link" href="#about" data-scroll>About Us</a>
          <!-- <a class="link" href="#team" data-scroll>Team</a> -->
          <a class="link" href="#contact" data-scroll>Contact Us</a>
        </div>
    </div>
    <a class="down" href=".service-intro-text" data-scroll><i class="icon fa fa-chevron-down" aria-hidden="true"></i></a>
  </div>
</div>