<div class="row services-row">
  <h1>services</h1>
  <div class="col-md-4">
    <div class="col-md-12 service-box">
      <h3>Web Development</h3>
      <p>We have a stack of Apache, MySql, PHP Symfony, ReactJs and Bootstrap for custom website and with expertise in Wordpress modification and implementation.</p>
    </div>
  </div>
  <div class="col-md-4">
    <div class="col-md-12 service-box">
      <h3>Web Design</h3>
      <p>We use Bootstrap as scaffold and modify css/html to meet design specifications.</p>
    </div>
  </div>
  <div class="col-md-4">
    <div class="col-md-12 service-box">
      <h3>Mobile Development</h3>
      <p>We use ReactNative to build native Android & iOS apps.</p>
    </div>
  </div>
</div>