<div class="row services-row">
  <div class="row">
    <div class="col-md-8 col-md-offset-2 service-intro-text">
      <h3>Got an IT challenge? Tight budget?</h3>

      <h4>Here’s a solution for you.</h4>

      <strong>Step 1:</strong> Brief an experienced European IT manager (That’s me, Tõnis Hinnosaar)<br/>
      <strong>Step 2:</strong> Outsource to an experienced and trusted young team of Filipino developers<br/>
      <strong>Step 3:</strong> Maintain direct contact with the programmers & designers who speak fluent English<br/>
      <strong>Step 4:</strong> Put a smile on the boss’s face for a job well done, on time and at an incredible price.<br/>

    </div>
  </div>

  <div class="col-md-12">
    <div class="row">
      <h2>services</h2>
      <div class="col-md-4">
        <div class="col-md-12 service-box">
          <h3>Web Development</h3>
          <p>
            You get access to a stack of Apache, MySql, PHP Symfony, ReactJs and Bootstrap for custom website and extensive expertise in Wordpress modifications and implementations.
          </p>
        </div>
      </div>
      <div class="col-md-4">
        <div class="col-md-12 service-box">
          <h3>Web Design</h3>
          <p>We use Bootstrap as framework and modify css/html to meet design specifications.</p>
        </div>
      </div>
      <div class="col-md-4">
        <div class="col-md-12 service-box">
          <h3>Mobile Development</h3>
          <p>We use ReactNative to build native Android & iOS apps with rich mobile UI.</p>
        </div>
      </div>
    </div>
  </div>
</div>