<div class="row services-row">
  <h1>services</h1>
  <div class="col-md-4">
    <div class="col-md-12 service-box">
      <h3>Web Development</h3>
      <p>Wordpress | PHP Symfony/CodeIgniter | Ruby on Rails </p>
    </div>
  </div>
  <div class="col-md-4">
    <div class="col-md-12 service-box">
      <h3>Web Design</h3>
      <p>HTML | CSS | Boostrap</p>
    </div>
  </div>
  <div class="col-md-4">
    <div class="col-md-12 service-box">
      <h3>Mobile Development</h3>
      <p>React-Native | Native Android | Native iOS</p>
    </div>
  </div>
</div>