#about {
  margin: 0 auto;
  @media only screen and (min-width: $cut) {
    width: 100%;
  }
}

.tech {
  margin: 10px;
}

.user {
  text-align: center;
  font-size: 60px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  p {
    font-size: 16px;
  }
  @media only screen and (min-width: $cut) {
    flex-wrap: nowrap;
    font-size: 75px;
  }
}

.user-details {
  text-align: center;
}

.about-row{
  background-color: #d3d3d3;
}

.center-text{
  text-align: center;
}

.member-image{
  height: 180px;
  width: 180px;
  border-radius: 50%;
  border: 3px solid #1a222c;
}

.member-details{
  text-align: center;
  min-height: 310px;
}

.member-name{
  text-align: center;
  color: #ff0 !important;
}

.member-name-bg{
  background-color: #1a222c !important;
}