#about {
  margin: 0 auto;
  @media only screen and (min-width: $cut) {
    width: 100%;
  }
}

.tech {
  margin: 10px;
}

.user {
  text-align: center;
  font-size: 60px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  p {
    font-size: 16px;
  }
  @media only screen and (min-width: $cut) {
    flex-wrap: nowrap;
    font-size: 75px;
  }
}

.user-details {
  text-align: center;
}

.about-row{
  background-color: #d3d3d3;
}

.center-text{
  text-align: center;
}

.member-image{
  height: 180px;
  width: 180px;
  border-radius: 50%;
}

.member-details{
  text-align: center;
  min-height: 550px;
}

.member-name{
  text-align: center;
  color: #ff0 !important;
}

.member-name-bg{
  background-color: #1a222c !important;
}

.portfolio-image{
  height: 50px;
  width: 50px;
  margin: 5px;
}

.team-pic-wrapper{
  text-align: center;
}

.team-pic{
  width: 500px;
}

.about-us-head-text h4{
  line-height: 25px;
}

.testimony-row{
  background-color: #fff;
}

.testimony-row h2{
  text-align: center;
}
