#contact{
  background-color: #1a222c;
  color: white;
  min-height: 620px;
}

#contact h1{
  text-align: center;
  margin-bottom: 20px;
  color: #ff0;
}

#contact .contact-text {
  text-align: center;
  display: table;
  height: 400px;
}

#contact .contact-details{
  display: table-cell;
  vertical-align: middle;
  font-size: 20px;
}

.contact-item{
  color: #ff0;
}