.founders-note{
  width: 100%;
  background-color: #D3D3D3;
  min-height: 350px;
  margin-bottom: -20px;
}

.founders-text{
  padding: 60px;
}

.big-text{
  font-weight: bold;
  font-size: 20px;
  margin-right: 10px;
}

.quote {
  font-size: 40px;
}

.italic-text{
  font-style: italic;
}

.founders-note div{
  float: left;
}

.founder-image{
  width: 20%;
  margin-left: 40px;
  margin-top: 10px;
  text-align: center;

}

.founder-text{
  width: 70%;
  padding: 80px 50px 50px 50px;
}