.founder-row{
  background-color: #d3d3d3;
}

.founder-image{
  text-align: center;
  padding-top: 35px;
}

.founder-image img{
  vertical-align: middle;
}

.founder-note{
  min-height: 300px;
  padding: 100px 50px 100px 50px;
  font-size: 1.2em;
}

.icon{
  font-size: 1.8em;
  margin-left: 15px;
}