.founder-row{
  background-color: #d3d3d3;
}

.founder-image{
  padding-top: 30px;
  text-align: center;
  width: 180px;
  margin: auto auto;
}

.founder-note{
  font-size: 1.2em;
  display : flex;
  align-items : center;
  min-height: 276px;
  max-height: 500px;
  padding: 20px;
}

.founder-note p{
  display: block;
}

.icon{
  font-size: 1.8em;
  margin-left: 15px;
}

.founder-image-wrapper{
  min-height: 276px;
  max-height: 400px;
  text-align: center;
  display: flex;
  align-items: center;
  padding: 10px;
}