#services{
  text-align: center;
  min-height: 470px;
}

.col-3{
  float: left;
  width: 33.1%;
  min-height: 400px;
  background-color: $main;
  text-align: center;
  margin: 5px auto;
  border: 1px solid white;
  color: white;
}

.col-3 h3{
  color: #ff0;
}

.service-box{
  background-color: #1a222c;
  margin: 10px;
  color: #ff0;
  height: 330px;
}

.service-box p{
  color: #fff;
  font-size: 1.2em;
}