<!DOCTYPE html>
<html lang="en">
  {% include head.html %}
  <body>
      {% include header.html %}

      <section id="founder-note">
        {% include founder-note.html %}
      </section>

      <section id="about">
        {% include about.html %}
      </section>

      <section id="contact">
        {% include contact.html %}
      </section>

     


     <!--  <section id="projects">
        {% include projects.html %}
      </section> -->
      
      {% include footer.html %}
  </body>
